AcmeFlightsTest/obj/project.assets.json
AcmeFlightsTest/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
AcmeFlightsTest/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AcmeFlightsTest/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AcmeFlightsTest/obj/Debug/netcoreapp2.1/AcmeFlightsTest.Program.cs
AcmeFlightsTest/obj/Debug/netcoreapp2.1/AcmeFlightsTest.AssemblyInfo.cs
AcmeFlightsTest/obj/AcmeFlightsTest.csproj.nuget.g.targets
AcmeFlightsTest/obj/AcmeFlightsTest.csproj.nuget.g.props
AcmeFlights/obj/project.assets.json
AcmeFlights/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
AcmeFlights/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AcmeFlights/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AcmeFlights/obj/Debug/netcoreapp2.1/AcmeFlights.RazorAssemblyInfo.cs
AcmeFlights/obj/Debug/netcoreapp2.1/AcmeFlights.AssemblyInfo.cs
AcmeFlights/obj/AcmeFlights.csproj.nuget.g.targets
AcmeFlights/obj/AcmeFlights.csproj.nuget.g.props
.vs/config/applicationhost.config
.vs/AcmeFlights/v15/Server/sqlite3/storage.ide-wal
.vs/AcmeFlights/v15/Server/sqlite3/storage.ide-shm
.vs/AcmeFlights/v15/Server/sqlite3/storage.ide
.vs/AcmeFlights/v15/Server/sqlite3/db.lock
.vs/AcmeFlights/DesignTimeBuild/.dtbcache
AcmeFlights/bin/Debug/netcoreapp2.1/AcmeFlights.deps.json
AcmeFlights/bin/Debug/netcoreapp2.1/AcmeFlights.runtimeconfig.json
AcmeFlights/bin/Debug/netcoreapp2.1/AcmeFlights.runtimeconfig.dev.json
AcmeFlights/obj/Debug/netcoreapp2.1/AcmeFlights.csproj.FileListAbsolute.txt
DomainServices/bin/
DomainServices/obj/
FlightsCore/obj/
FlightsTest/bin/
FlightsCore/bin/
FlightsTest/obj/
FlightsWeb/bin/
FlightsWeb/obj/
Infrastructure/obj/
Infrastructure/bin/
.vs/AcmeFlights/xs/UserPrefs.xml
.vs/AcmeFlights/xs/sqlite3/db.lock
.vs/AcmeFlights/xs/sqlite3/storage.ide
.vs/AcmeFlights/xs/sqlite3/storage.ide-shm
.vs/AcmeFlights/xs/sqlite3/storage.ide-wal
